<!DOCTYPE html>
<html>
<head>
  <title>O Vrapcu:</title>
</head>
<body>
<h1>O projektu Vrabac: </h1>
<p> Vrabac je kopija društvene mreže Twitter, napravljena u cilju sticanja osnovnih znanja o radu i načinu funkcionisanja modernih društvenih mreža. </p>
<h1>Korišćene tehnologije:</h1>
<p1>

  *Ruby 2.5.1 <br/>
  *Ruby on Rails 5.2 (MVC Ruby framework) <br/>
  *HTML (HTML u ERB formatu pogodan za uključivanje Ruby skripti) <br/>
  *CSS (SaSS gem za Rails i Bootstrap gem za upotrebu Bootstrap framework-a) <br/>
  *Javascript (Osnovne funkcionalnosti ukljucene u Rails Framework, kao što su provera formi i slično) <br/>
</p1>

<h1> Ostali alati:</h1>
<p1>
  *Heroku (Web aplikacija za postavljanje sajtova na web u produkcionom okruženju)
  *GIT (Kontrola verzije, postepeno urađen sajt sa svim koracima dostupnim na github-u)
  *RubyMine razvojno okruženje
</p1>

<h1>Napredne funkcionalnosti:</h1>
<p1>
  *Upotreba sesija koje omogućavaju zadržavanje ulogovanog korisnika sve dok je browser uključen
  *Sigurna šifra, koja se čuva u hashovanom obliku u bazi (BYcryt gem)
  *Faker gem za popunjavanje baze korisnicima
  *Paginate gem za listanje između korisnika i postova
  *Gravatar - servis koji za svaki registrovani mail obezbeđuje cross-platform avatar
</p1>

</body>
</html>